<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.injoin.ijboss.repo.mapper.IjRobotCsrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.injoin.ijboss.repo.entity.IjRobotCsr">
        <id column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="robot_tid" property="robotTid" />
        <result column="robot_yunxin_accid" property="robotYunxinAccid" />
        <result column="robot_yunxin_token" property="robotYunxinToken" />
        <result column="ad_id" property="adId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, robot_tid, robot_yunxin_accid, robot_yunxin_token, ad_id
    </sql>

</mapper>
